.search-bar {
  max-width: 420px;
  margin: 30px auto;
  text-align: center;
}
.search-bar input {
  width: 90%;
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#blog-content h1 {
  font-size: 2em;
  color: var(--accent-light);
  margin-bottom: 20px;
  text-align: center;
}
#blog-content p {
  font-size: 1.1em;
  color: var(--text-color);
  margin-bottom: 18px;
  line-height: 1.6;
}
#blog-content blockquote {
  font-size: 1.1em;
  color: var(--accent-light);
  font-style: italic;
  margin: 20px auto;
  padding: 12px 18px;
  background: #1b1b1b;
  border-left: 4px solid var(--accent-light);
  max-width: 600px;
  border-radius: 8px;
}
