@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-midnight text-white font-sans;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10 shadow-[0_25px_65px_rgba(5,6,8,0.65)];
  }
}
